/*
--------------------------------------------------------------------------
CSS Reset
--------------------------------------------------------------------------
*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

img {
	max-width: 100%;
	height: auto;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

::-webkit-scrollbar {
	background: transparent;
	max-width: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 6px;
}

::-moz-scrollbar {
	-webkit-appearance: none;
	width: 0;
}

iframe {
	display: none;
}

.grecaptcha-badge {
	visibility: hidden;
}

/*
--------------------------------------------------------------------
Variables
--------------------------------------------------------------------
*/
:root {
	--green: #0e4734;
	--white: #ffffff;
	--black: #000;
}

/*
--------------------------------------------------------------------
Fonts
--------------------------------------------------------------------
*/
body,
.content .slider .slide span,
.sidebar {
	font-family: 'Campton-light';
}

a,
.nav-item>a,
.sub-nav a,
.menuHeading,
#breadcrumbs,
.sidebar h2,
.sidebar h3,
.sidebar ul li a {
	font-family: 'Campton-medium';
}

h1,
h2,
h3,
h4,
h1 a,
h2 a,
h3 a,
h4 a {
	font-family: 'Montserrat', sans-serif;
}

/*
-------------------------------------------------------------------------------------------------
structure elements
-------------------------------------------------------------------------------------------------
*/
body {
	font-size: 1em;
	line-height: 1.375em;
}


#mainContent {
	background-image: url(//globalassets.provo.edu/image/backgrounds/contentarea-texture-dk.jpg);
	background-repeat: repeat;
	z-index: 900;
	display: grid;
	position: relative;
	margin-bottom: 50px;
	overflow: visible;
	grid-template-columns: 1fr;
}

@media (min-width: 800px) {
	#mainContent {
		margin-top: 115px;
	}
}

@media (min-width: 1100px) {
	#mainContent {
		margin-top: 110px;
	}
}

.content {
	display: block;
}

#sidebar {
	z-index: 900;
}

#mainFooter {
	background: #1c2f4a;
	height: 45px;
	color: #dae1e7;
	font-size: 1em;
	line-height: 1.2em;
	padding: 0 1%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 920;

	right: 0;
}

#mainFooter .footerMenu ul li {
	float: left;
	list-style: none;

}

#mainFooter .footerMenu ul li a {
	color: #fff;
	padding-right: 10px;
}


/*
--------------------------------------------------------------------
Utility Classes
--------------------------------------------------------------------
*/
.postwrapper {

	background-color: #fff;
	/* margin-top: -10px; */
	padding: 15px 0;
}

.postwrapper .activePost {
	max-width: 1000px;
	margin: 0 auto;
	min-height: 80vh;
}



/*
--------------------------------------------------------------------
Cludo Search
--------------------------------------------------------------------
*/
.powered-by-cludo {
	display: none !important;
}

#search_autocomplete {
	background-color: #eee;
	position: absolute;
	right: 55px;
	top: 50px;
	width: 400px;
	z-index: 20;
	box-shadow: 0 10px 7px -5px black;
}

#search_autocomplete li {
	list-style: none;
	margin-left: 0;
	padding-left: 10px;
}

#search_autocomplete li:hover,
#search_autocomplete li:active,
#search_autocomplete li:focus,
#search_autocomplete li:focus-within {
	background-color: #ccc;
}

/*
-------------------------------------------------------------------------------------------------
Content Area
-------------------------------------------------------------------------------------------------
*/
.content {
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
	padding-bottom: 45px;
}

.wp-block-button {
	float: right !important;
}

.wp-block-button .wp-block-button__link {
	float: right !important;
	display: block !important;
	background-color: #21395a !important;
}

/*
--------------------------------------------------------------------
Breadcrumbs
--------------------------------------------------------------------
*/
#breadcrumbs {
	font-size: .6em;
	padding-top: 7px;
	padding-bottom: 2px;
	padding-left: 10px;
	margin-top: 15px;
	margin-bottom: 0;
	color: #fff;
	list-style: none;
	overflow: hidden;
}

#breadcrumbs li {
	display: inline-block;
	margin: 0 5px 0 0;
	vertical-align: middle;
}

#breadcrumbs .separator {
	font-size: 15px;
	font-weight: 100;
	color: #ccc;
}

#breadcrumbs a {
	color: #fff;
}

#breadcrumbs a:hover {
	color: #df6d1b;
	text-decoration: underline;
}

/*
--------------------------------------------------------------------
Post Grid
--------------------------------------------------------------------
*/
.postgrid h1 {
	/* padding-left:5%; */
	width: 100%;
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0;
	margin-bottom: 0;
}

.postgrid .activePost h1 {
	padding: 0;
}

.post {
	padding: 15px;
}

.postgrid .post:nth-child(even),
.post div.postgrid:nth-child(even) {
	background-color: #dbe1e7;
}

.postgrid .post:nth-child(odd),
.post .postgrid:nth-child(odd) {
	background-color: #f1f5f9;
}

.postgrid article.post .featured-image {
	width: 100%;
	height: 150px;
	overflow: hidden;
}

.postgrid article.post .featured-image img {
	margin: 0 auto;
	display: block;
	width: 100%;
}

.postgrid article.post h2 {
	margin: 10px 0 0;
}

.postgrid article.post p {
	margin: 0;
}

.postgrid article.post p.readmore {
	float: right;
	margin-top: -25px;
}

.postgrid article.post p.readmore a {
	color: #f97806;
}

.postgrid .archiveNav {
	clear: both;
	width: 100%;
	text-align: right;
	padding: 0;
}

.archiveNav .page-numbers:first-child {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.archiveNav .page-numbers:last-child {
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

.archiveNav .page-numbers {
	padding: 5px 10px;
	background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
	background-repeat: repeat-x;
	border: solid 1px #ccc;
	text-shadow: 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
	display: inline-block;
	margin: 0 0 0 -5px;
}

.archiveNav .current {
	padding-top: 6px;
	padding-bottom: 4px;
	font-size: 15px;
}

#mainContent .featured-image {
	width: 100%;
	height: 0;
	padding-top: 50%;
	overflow: hidden;
}

#mainContent .featured-image img {
	margin: 0 auto;
	margin-top: -50%;
	display: block;
	width: 100%;
}


/*
--------------------------------------------------------------------
Single Post
--------------------------------------------------------------------
*/
.singlePost {
	/* margin-top:133px; */
}

.singlePost .activePost {
	/* .page .activePost { */
	background-color: #fff;
	min-height: 400px;
	padding: 20px;
	width: calc(100% - 40px);
	margin-top: 12px;

}

.singlePost .activePost .featured-image-full {
	max-width: 1000px;
	max-height: 500px;
	margin-bottom: 15px;
	overflow: hidden;
}

.singlePost .fullCategory {
	min-height: unset;
}

.singlePost .postgrid {
	clear: both;
}

.singlePost .postgrid .post {
	padding-bottom: 20px;
	padding-top: 20px;
}

.singlePost .postmeta {
	max-width: 100%;
	display: inline-block;
}

.singlePost .postmeta ul,
.postgrid .postmeta ul {
	margin: 0;
	max-width: 100%;
}

.singlePost .postmeta ul li,
.postgrid .postmeta ul li,
.postmeta ul li {
	display: inline;
	margin: 0;
	list-style: none;
	font-size: .8em;
	margin-right: 2px;
}

.postmeta ul li img,
.sidebar .postmeta ul li img {
	width: 10px;
	margin-bottom: 0;
	margin-right: 5px;
	margin-left: 2px;
}

/*
--------------------------------------------------------------------------------------------------------
Department main styles
--------------------------------------------------------------------------------------------------------
*/
.content .currentContent {
	background-color: #fff;
	width: 46%;
	height: 400px;
	padding: 0 2%;
	display: inline-block;
	position: relative;
	overflow-y: scroll;
}

.content .currentContent video {
	max-height: 300px !important;
}

.departmentFullWidth .currentContent {
	width: 96%;
	height: auto;
}

.content .fullwidthcurrentContent {
	background-color: #fff;
	width: 96%;
	height: auto;
	padding: 0 2%;
	display: inline-block;
	position: relative;
	overflow-y: scroll;
}

.content .slider {
	width: 50%;
	float: right;
}

.content .square2Image {
	width: 50%;
	float: right;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 400px;
}

.content .slider .slide {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 400px;
}

.content .slider .slide span {
	display: block;
	color: #000;
	position: absolute;
	bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 10px;
	width: 14.3%;
	height: auto;
	/* changed from 125px to auto so that the slider span was only as big as it needed to be 11-16-17*/
	background-color: #ccd5df;
	background-color: rgba(204, 213, 223, 0.9);
}

.content .slider .slide span h2,
.content .slider .slide span p {
	max-width: 97%;
	padding-left: 15px;
	padding-right: 10px;
	margin: 5px 0;
}

.content .square2Image span {
	display: block;
	padding: 10px;
	max-width: 100%;
	margin-top: 200px;
	background-color: #ccd5df;
	background-color: rgba(204, 213, 223, 0.9);
}

.content .square2Image span:after {
	clear: both;
	content: "";
	display: table;
}

.content .square2Image span img {
	float: left;
	margin: 10px 15px 0;
	width: 60px;
}

.content .square2Image span .slidertext {
	float: left;
	width: 80%;
}

.content .square2Image span h2,
.content .square2Image span p {
	width: 100%;
	padding: 0;
	margin: 0;
	clear: none;
}

.content .departmentResources {
	clear: both;
	display: flex;
	flex-wrap: wrap;
	margin-top: -8px;
}

.content .departmentResources .threeColumn {
	padding-top: 25px;
	padding-bottom: 25px;
	vertical-align: top;
}

.content .departmentResources .threeColumn ul {
	margin-top: 10px;
	margin-bottom: 10px;
}

.content .departmentResources .threeColumn ul li {
	margin: 0;
}

.content .departmentResources .threeColumn:nth-child(even) {
	background-color: #f1f5f9;
}

.content .departmentResources .threeColumn:nth-child(odd) {
	background-color: #dbe1e7;
}

#mainContent .content .full-height-images .featured-image {
	height: auto;
}

.content .departmentResources .menu-Tile ul {
	margin-left: 0;
	width: 100%;
}

.content .departmentResources .menu-Tile ul>a {
	list-style: none;
}

.content .departmentResources .menu-Tile ul li {
	list-style-position: inside;
	margin: 5px 0;
	padding: 5px 5px 5px 10px;
}

.content .departmentResources .menu-Tile ul li a:hover {
	color: #df6d1b;
	text-decoration: underline;
}

.content .departmentResources .full-tile {
	width: 96%;
}

.currentContent .content-featured-image {
	width: calc(100% - 35px);
	height: 150px;
	position: absolute;
	overflow: hidden;
	bottom: 10px;
	left: 10px;
}

.currentContent .content-featured-image img {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: calc(200px - 75%);
	margin-left: -50%;
}



/* Directory Grid  */
.directoryGrid {
	display: flex;
	flex-wrap: wrap;
	max-width: 1500px;
	margin: 0 auto;
}

.directoryGrid>* {
	padding: 1em 0;
	width: 100%;
}

.directoryGrid h2,
.directoryGrid h3 {
	flex: 100%;
	background-color: unset !important;
}

@media (min-width:500px) {
	.directoryGrid>* {
		width: calc(100% / 3);
	}
}

@media (min-width:1200px) {
	.directoryGrid>* {
		width: calc(100% / 5);
	}
}

@media (min-width:1400px) {
	.directoryGrid>* {
		width: calc(100% / 7);
	}
}

.directoryGrid>*:nth-child(even) {
	background-color: var(--even-color);
}

.directoryGrid>*:nth-child(odd) {
	background-color: var(--odd-color);
}

.directoryGrid .personalvCard img {
	display: block;
	margin: 0 auto;
	width: 120px;
	height: 150px;
}

.directoryGrid .personalvCard ul {
	margin: 1em 0 1em 0 !important;
	list-style: none;
	text-align: center;
	margin-left: unset;
}

.directoryGrid .personalvCard ul li {
	font-size: 0.7em;
	margin: 0 !important;
}

.directoryGrid .personalvCard ul li.name,
.directoryGrid .personalvCard ul li.assignedSchool {
	font-size: 1em;
}

.directoryGrid .personalvCard ul li.cteName {
	font-size: 0.8em;
}

/*
--------------------------------------------------------------------
404 styles
--------------------------------------------------------------------
*/
.grid404 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1em;
	grid-template-areas: "results image";
}

#cludo-404 {
	grid-area: results;
}

#image404 {
	grid-area: image;
}

.powered-by {
	display: none;
}

/*
--------------------------------------------------------------------
Sidebars
--------------------------------------------------------------------
*/
.sidebar {
	display: block;
	width: 280px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 45px;
	padding: 30px 20px;
	background-color: #21395a;
	color: #dce2e8;
	overflow-y: auto;
}

.sidebar h2,
.sidebar h2 a {
	color: #dce2e8;
	font-size: 1.25em;
	clear: both;
}

.sidebar h3,
.sidebar h3 a {
	color: #dce2e8;
	font-size: 1.05em;
}

.sidebar ul {
	list-style: none;
	margin-left: 0;
}

.sidebar ul li {
	font-size: 1em;
	margin-left: 0;
}

.sidebar ul li img {
	width: 35px;
	height: 35px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}

.sidebar ul li a {
	color: #dce2e8;
	vertical-align: middle;
	width: 249px;
}

.sidebar .sociallinks {
	clear: both;
}

.sidebar .sociallinks li {
	display: inline-block;
	margin: 0 10px;
}

.sidebar .sociallinks a {
	display: block;
	width: 44px;
}

.sidebar .sociallinks a img {
	width: 100%;
	height: 100%;
}

.sidebar .directoryGrid {
	display: unset;
	background-color: unset;
}

.sidebar .directoryGrid>* {
	background-color: unset;
	width: 100%
}

.sidebar .personalvCard {
	clear: both;
}

.sidebar .personalvCard img {
	float: right;
	width: 100px;
	height: 125px;
	margin-bottom: 20px;
}

.boardsidebar .personalvCard img {
	margin-bottom: 0;
}

.sidebar .personalvCard ul {
	width: 60%;
	font-size: .85em;
	margin-left: 0;
}

.sidebar .personalvCard ul li {
	margin: 0;
	list-style: none;
	font-size: 1em;
}

.sidebar .personalvCard .title {
	font-size: .9em;
	font-style: italic;
	line-height: 15px;
}

.sidebar .personalvCard ul li.phone,
.sidebar .personalvCard ul li.email,
.sidebar .personalvCard ul li.address {
	font-size: .7em;
}

.sidebar .personalvCard .boardterms {
	font-size: .7em;
	margin-top: 15px;
	margin-bottom: 50px;
	width: 100%;
}

.imagelist li a {
	display: block;
}

.imagelist li a img {
	vertical-align: middle;
}

.imagelist li a span {
	display: inline-block;
	vertical-align: middle;
	width: 180px;
}

.sidebar .imagelist li a:hover {
	text-decoration: none !important;
}

.imagelist li a span:hover {
	text-decoration: underline;
}

.sidebar table {
	width: 100%;
	border-collapse: collapse;
}

.sidebar table tr th {
	font-weight: 700;
}

.sidebar table tr td,
.sidebar table tr th {
	border: solid 1px #ccc;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
	font-size: .9em;
	margin: 0;
}

.sidebar .buttonlink {
	background: #dce2e8;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow:
		inset 0 2px 3px rgba(255, 255, 255, 0.3),
		inset 0 0px 3px rgba(0, 0, 0, 0.3),
		0 1px 1px rgba(255, 255, 255, 0.9);
	padding: 10px;
	margin-right: -10px;
	margin-left: -10px;
	border-radius: 3px;
	font-size: 18px;
	text-align: center;
}

.sidebar .buttonlink:hover {
	box-shadow: none;
}

.sidebar .buttonlink span {
	font-size: 14px;
	display: block;
	text-align: center;
}

.sidebar .buttonlink a {
	color: #223a59;
	text-decoration: none;
}

#directorySearchIcon {
	width: 30px;
	margin-bottom: -10px;
}

/*
-------------------------------------------------------------------------------------------------
Typography
-------------------------------------------------------------------------------------------------
*/
a {
	text-decoration: none;
	color: #4f679e;
}

a:hover {
	color: #df6d1b;
	text-decoration: underline;
}

p {
	margin: 20px 20px 20px 0;
}

ul {
	margin-left: 20px;
}

ol {
	margin-left: 20px;
}

ol li,
ul li {
	margin: .9375em 0 .9375em 1em;
	list-style-position: outside;
}

.noblt li,
.noblt {
	list-style: none;
}

.squareblt li,
.squareblt {
	list-style-image: url('https://globalassets.provo.edu/image/icons/check-square.svg');
}

.disc {
	list-style: disc;
}

/*
--------------------------------------------------------------------
Headers
--------------------------------------------------------------------
*/
h1,
h2,
h3,
h4 {
	color: #02365b;
	font-weight: 600;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 1.05em;
	clear: both;
	width: 100%;
}

h1 a,
h2 a,
h3 a,
h4 a {
	text-decoration: none;
	color: #4f679e;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
	color: #df6d1b;
	text-decoration: underline;
}

a h1,
a h2,
a h3,
a h4 {
	color: #4f679e;
}

a h1:hover,
a h2:hover,
a h3:hover,
a h4:hover {
	color: #df6d1b;
}

.single-post h1,
.feePost h1 {
	clear: none;
}

h1 {
	font-size: 2.5em;
	margin: .3125em 0;
}

h2 {
	font-size: 1.75em;
}

.activePost h2:first-of-type,
.activePost h3:first-of-type {
	clear: none;
}

/* Rob asked me to remove on 12-7-17
.content h2 {
	margin:50px 0;
}
*/
.currentContent .post h2 {
	margin-top: 0;
}

h3 {
	font-size: 1.25em;
}

/*
--------------------------------------------------------------------------------------------------------------
General Layout styles
--------------------------------------------------------------------------------------------------------------
*/
.left,
.alignleft {
	float: left;
	margin-right: 25px;
	margin-bottom: 20px;
	display: block;
}

.right,
.alignright {
	float: right;
	margin-left: 25px;
	margin-bottom: 20px;
	display: block;
}

.hidden {
	position: absolute;
	left: -9999px;
}

.center {
	display: block;
	margin: 15px auto;
	text-align: center;
}

.uppercase {
	text-transform: uppercase;
}

video {
	max-width: 100%;
	height: auto;
}

.clear {
	width: 100%;
	clear: both;
	height: 1px;
}

.clearleft {
	clear: left;
	margin-top: 5px;
}

.clearright {
	clear: right;
	margin-top: 5px;
}

.noclear,
.clearnone {
	clear: none;
}

.twocolumn {
	display: inline-block;
	padding: 2%;
	margin: 0;
	width: 45%;
	vertical-align: top;
}

.twoColumnMedia {
	width: 48%;
	float: left;
	margin-right: 1%;
	margin-bottom: 20px;
}

.threeColumn {
	display: inline-block;
	padding: 2%;
	margin: 0;
	width: 29.33%;
}

.readmore {
	display: inline;
}

ul.contactlist li {
	list-style: none;
	margin: 0;
}

ul.address li {
	margin: 0;
	list-style: none;
}

.lastmodified {
	float: right;
	font-size: 14px;
}

/*================================================================================================================
link marking
================================================================================================================*/
/*For adding hidden into for listed links*/
ul li a:after {
	content: ' - External Link';
	position: absolute;
	left: -9999px;
}

ul li a[href*="provo.edu"]:after {
	content: ' - Internal Link';
	position: absolute;
	left: -9999px;
}

ul li a[href*="pdf"]:after {
	content: ' - PDF Document';
	position: absolute;
	left: -9999px;
}

ul li a[href*="xls"]:after {
	content: ' - XLS Document';
	position: absolute;
	left: -9999px;
}

/*For adding hidden into for in line links*/
.content p a:before {
	content: 'External Link - ';
	position: absolute;
	left: -9999px;
}

.content p a[href*="provo.edu"]:before {
	content: 'Internal Link - ';
	position: absolute;
	left: -9999px;
}

.content p a[href*="pdf"]:before {
	content: 'PDF Document - ';
	position: absolute;
	left: -9999px;
}

.content p a[href*="xls"]:before {
	content: 'XLS Document - ';
	position: absolute;
	left: -9999px;
}

/*For adding icon into for in line links*/
.content p a:not(.jumper):not(.jumper):after {
	content: ' ';
	display: inline-block;
	margin-left: 3px;
	min-width: .7em;
	height: .7em;
	background-size: contain;
	background-image: url(//globalassets.provo.edu/image/icons/external-link-gray.svg);
}

.content p a:not(img):after img {
	background-image: none;
}

.content p a[href*="provo.edu"]:not(.jumper):after {
	/*	content:' ';
	display:inline-block;

	width:.7em;
	height:.7em;
	background-size:contain; */
	display: inline-block;
	background-image: url(//globalassets.provo.edu/image/icons/file-blue.png);
}

.content p a[href*="provo.edu"]:after img {
	background-image: none;
}

.content p a[href*="pdf"]:not(.jumper):after {
	content: ' (PDF)';
	display: inline-block;
	background-image: none;
}

.content p a[href*="xls"]:not(.jumper):after {
	content: ' (XLS)';
	background-image: none;
	display: inline-block;
}

.content p a:has(img):after,
.content .grid2 a:has(img):after,
.content p a.bigRedButton:after {
	display: none !important;
}

/* these are so that the listed links have a the right icon once the javascript gives them a class*/
ul li.int {
	list-style-image: url(//globalassets.provo.edu/image/icons/file-blue.png) !important;
	list-style-position: inside !important;
	margin-left: -4px;
}

ul li.pdf {
	list-style-image: url(//globalassets.provo.edu/image/icons/pdf.png) !important;
	list-style-position: inside !important;
	margin-left: -4px;
}

ul li.xls {
	list-style-image: url(//globalassets.provo.edu/image/icons/xls.png) !important;
	list-style-position: inside !important;
	margin-left: -4px;
}

ul li.ext {
	list-style-image: url(//globalassets.provo.edu/image/icons/external-link-gray.svg) !important;
	list-style-position: inside !important;
	margin-left: -4px;
}

ul.imageList li,
.content .employeeHighlights li,
.content .imageListGrid li {
	list-style: none !important;
}

blockquote {
	font-size: 1em;
	font-style: italic;
	padding: 0 30px;
}

.visuallyhidden {
	position: absolute;
	left: -9999px;
}

.wpcf7 input,
.wpcf7 textarea {
	border: 1px solid #DBE1E7;
	padding: 12px 20px;
	border-radius: 3px;
	flex-grow: 1;
	width: 98%;
}

.wpcf7 input[type=checkbox] {
	width: 20px;
}

.wpcf7 .wpcf7-submit {
	width: 150px;
	padding: 10px;
}

.bottom {
	width: 100%;
	clear: both;
	display: block;
}

.strike {
	text-decoration: line-through;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table td,
table th {
	border: 1px solid #ccc;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
}

span.wpcf7-list-item {
	display: block;
}

/*
--------------------------------------------------------------------
Policy styles
--------------------------------------------------------------------
*/
.postgrid .post img.svg {
	width: 75px;
	height: 75px;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}

ul.policystyle {
	margin-left: -20px;
	overflow-x: auto;

}

ul.policystyle li {
	list-style-position: inside;
	width: 100%;
	padding-left: 40px;
	margin: 0;
	white-space: nowrap;
	padding-top: 20px;
	padding-bottom: 20px;

}

ul.policystyle li a {
	font-size: 1.5em;
}

ul.policystyle li:nth-child(even) {
	background-color: #dbe1e7;
}

ul.policystyle li:nth-child(odd) {
	background-color: #f1f5f9;
}

.policystyle article:nth-child(even) {
	background-color: #dbe1e7;
}

.policystyle article:nth-child(odd) {
	background-color: #f1f5f9;
}

.policystyle article {
	padding: 5px 25px 10px;
}

.policystyle article.min-height {
	min-height: 300px;
}

.policystyle article img {
	margin-right: 50px;
	margin-bottom: 50px;
}

/*
.policystyle article ul li {
	margin-left:180px;
}
*/
ul.policystyle li:nth-child(odd) ul li,
ul.policystyle li:nth-child(even) ul li {
	background-color: transparent;
}

/*--------------------------------------------------------------------
featured Gallery styles
--------------------------------------------------------------------*/
.featured-gallery {
	width: 100%;
	max-width: 1000px;
	background-color: #ccc;
	margin-bottom: 15px;
	height: auto;
}

.featured-for {
	width: auto;
	height: auto;
	max-width: 1000px;
}

.featured-for img {
	width: auto !important;
	max-height: 500px;
	margin: 0 auto;
	display: block !important;
}

.featured-nav {
	max-height: 100px;
	overflow: hidden;
}

.featured-nav img {
	border: 2px solid #000;
	vertical-align: middle;
	height: auto;
	width: auto;
	max-height: 100px;
	max-width: 200px;
	display: inline-block;
}

.featured-nav .slick-center {
	border: 2px solid #e16c16;
}

/*
--------------------------------------------------------------------
accordion styles
--------------------------------------------------------------------
*/
.accordion {
	list-style: none;
	margin-left: 0;
}

.accordion>li a:before {
	display: inline-block;
	content: ' ';
	background-image: url(https://globalassets.provo.edu/image/icons/accordion-down.svg);
	background-size: 14px 14px;
	height: 14px;
	width: 14px;
	margin-right: 10px;
}

.accordion>li.active a:before {
	background-image: url(https://globalassets.provo.edu/image/icons/accordion-up.svg);
}

.accordion>li li a:before {
	content: none;
}

.accordion li .accordion-content {
	display: none;
}

.accordion li.active .accordion-content {
	display: block;
	transition: all .35s;
}

/*
--------------------------------------------------------------------
accordion styles .accordion as the control and a div beneath as the panel
--------------------------------------------------------------------
*/
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	width: 100%;
	transition: 0.4s;
}

.accordion:after {
	content: '\02795';
	/* Unicode character for "plus" sign (+) */
	font-size: 10px;
	color: #02365b;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2796";
	/* Unicode character for "minus" sign (-) */
}

#mainHeader .active:after {
	content: unset;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

/*
--------------------------------------------------------------------
Contact Styles
--------------------------------------------------------------------
*/
.address ul li {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
}

/*================================================================================================================
Calendar plugin styling
================================================================================================================*/
#sidebar .simcal-calendar {
	background-color: #fff;
	border-radius: 3px;
	color: #02224f;
}

#sidebar .simcal-calendar a {
	color: #45579c;
}

#sidebar .simcal-calendar a:hover {
	color: #fc7e02;
}

#sidebar .simcal-calendar .simcal-event-title {
	font-weight: bold;
}

#sidebar .simcal-calendar .simcal-current {
	display: none;
}

#sidebar .simcal-default-calendar-dark .simcal-nav-button {
	color: #02365b !important;
}

#sidebar .simcal-default-calendar-list dt.simcal-day-label>span {
	width: 94%;
	color: #fff !important;
}

#sidebar .simcal-default-calendar-list .simcal-event-details {
	border-bottom: 1px solid #02365b;
}

#sidebar .simcal-default-calendar-list .simcal-event-details .simcal-event-start-date {
	display: none;
}

.single-page .simcal-day-label {
	background-color: #3d8b03 !important;
}

.single-page .simcal-present div {
	border: 1px solid #fc7e02 !important;
}

.single-page .simcal-present .simcal-day-label {
	background-color: #013c6c !important;
}

/*================================================================================================================
form styles
================================================================================================================*/
.contact form label {
	padding: 15px 10px 0 0;
	margin: 0 0 15px 0;
	display: inline-block;
	width: 115px;
}

.contact form input {
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 0 0 15px 0;
	padding: 10px;
	width: calc(100% - 152px);
}

form input[type=submit] {
	width: 150px;
	margin: 20px 0 20px 0;
	padding: 10px;
	float: left;
}

form input[type=checkbox],
form input[type=radio] {
	display: inline;
	width: auto;

	margin-left: 20px;
	margin-right: 5px;
}

form p {
	display: block;
}

form textarea {
	clear: both;
	width: calc(100% - 20px);
	min-height: 200px;
	display: block;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 10px;
}

form ul li span {
	display: inline-block;
	width: 155px;
}

/* Grid 2 column */
.col-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.col-2> :nth-child(2) {
	justify-self: center;
}

/*
--------------------------------------------------------------------------------------------------------------
Responsive styles
--------------------------------------------------------------------------------------------------------------
*/

@media (max-width: 1180px) {
	.content .slider .slide span {
		height: auto;
	}

	.twoColumnMedia {
		width: 100%;
		float: none;
		margin-right: 0;
		margin-bottom: 20px;
	}
}





@media (max-width: 880px) {
	#cludo-search-form .search-input {
		width: 200px;
	}
}

@media (max-width: 800px) {
	.sidebar {
		position: unset;
		width: unset;
		margin-top: unset;
	}

	.content {
		max-width: unset;
	}
}

@media (max-width: 770px) {
	p#siteTitle {
		left: 190px !important;
	}

	.districtLogo {
		width: 20%;
	}

	.contactinfo {
		margin-top: 0;
	}

	#cludo-search-form .search-input {
		width: calc(95% - 34px);
		margin-top: 74px;
		padding-left: 5%;
		right: 36px;
		border-radius: unset;
		border-bottom: 1px solid #ccc;
	}

	#cludo-search-form .search-submit,
	#cludo-search-form .search-icon {
		margin-top: 74px;
		position: absolute;
		right: 0;
		width: 36px;
		height: 36px;
	}

	#search_autocomplete {
		display: none;
	}


	.content .currentContent {
		width: 100%;
	}

	.content .slider {
		width: 100%;
	}

	.content .departmentResources .threeColumn {
		width: 100%;
		min-height: unset;
	}

	.activePost #directorySearch,
	.activePost #filter,
	.activePost #directorySearchIcon {
		display: inline-block;
	}

	.sidebar #live-search {
		display: none;
	}

	#outerImageContainer {
		width: 100% !important;
		height: auto !important;
	}

	#imageDataContainer {
		width: 100% !important;
	}

	#lightbox img {
		width: 100% !important;
		height: auto !important;
	}

	#mainContent .featured-image {
		height: auto;
	}

	#nextLink,
	#prevLink {
		height: 100% !important;
	}
}

@media (max-width: 620px) {
	p#siteTitle {
		left: 20px !important;
	}

	.districtLogo {
		top: 10px;
	}

	.postgrid .post {
		width: unset;
	}
}

@media (min-width:600px) {
	#mainContent {
		grid-template-columns: 1fr 320px;
	}
}

@media (min-width:1000px) {
	.postgrid {
		display: grid;
		grid-template-columns: repeat(3, minmax(30%, 1fr));
		max-width: 1550px;
		margin: 0 auto;
	}

	.postgrid>h1 {
		grid-column: 1 / 4;
	}
}

@media (max-width: 465px) {
	p#siteTitle {
		display: none;
	}

	.districtLogo {
		top: 20px;
		width: 30%;
	}
}

@media (max-height: 400px) {
	#mainContent {
		margin-top: 0;
		overflow: visible;
		position: inherit;
		background-image: none;
		background-color: #21395a;
	}

	#mainContent .content {
		max-height: none;
		background-image: url(//globalassets.provo.edu/image/backgrounds/contentarea-texture-dk.jpg);
	}

	#mainContent .sidebar {
		max-height: none;
		overflow: visible;
	}
}

/*
Arrows
*/
.arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

/* Fix for anchor links with fixed header */
.jumper {
	position: relative;
	top: -135px;
}









/* 2023 Theme Updates */
/* ================================================================================================ */
/*
--------------------------------------------------------------------
Splash Pages
--------------------------------------------------------------------
*/
article ul.imageList {
	background-color: #cad5ce;
	margin-left: unset;
	padding: 5px 0 5px 0;
}

article ul.imageList img {
	max-width: 45px;
	margin-left: 15px;
}

article ul.imageList>li {
	display: grid;
	gap: 20px;
	align-items: center;
	grid-template-columns: 50px 1fr;
}

article ul.imageList ul {
	margin-left: 80px;
	flex-grow: 2;
	grid-column: 1 / span 2;
}


/*
================================================================================================================
Blockquote
================================================================================================================
*/
blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C" "\201D";
}

blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote p {
	display: inline;
	font-style: italic;
}





/* Skip nav link */
.skip-nav-link {
	position: absolute;
	transform: translateY(-300%);
	padding: 1em;
	top: -200px;
	transition: transform 300ms ease-in;
}

.skip-nav-link:focus {
	transform: translateY(-165%);
	z-index: 10001;
	border: none;
	top: 0px;
	position: static;
}

/* Featured image Styles for Single post */
.featured-image-full {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	max-width: 1000px;
	padding-top: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

@media (min-width: 1400px) {
	.featured-image-full {
		padding-top: 0;
		height: 500px;
	}
}


#trp-floater-ls-current-language .trp-ls-disabled-language img {
	max-width: 25px;
	max-width: 25px;
}

.trp-language-switcher-container.trp-floater-ls-names.trp-top-right.trp-color-dark {
	min-width: 25px;
}